{% extends 'base.html' %}


{% block content %}
    <h1 class="title">Applicant For {{ job.title }}</h1>

    {% for applicant in job.applications.all %}
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Email</h5>
          <p class="card-text">{{ applicant.email }}</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Phone Number</h5>
          <p class="card-text">{{ applicant.phone }}</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Experience</h5>
          <p class="card-text">{{ applicant.experience }}</p>
        </div>
    </div>
    <br/>
    <p class="card-text">{{ applicant.created_at }}</p>
    
    {% endfor %}

    <hr>

    <h2 class="subtitle">Conversation</h2>

    {% for message in application.conversationmessages.all %}
        <div class="notification">
            <b>{{message.created_by.username }} - {{ message.created_at|timesince }} ago</b>
            
            {{ message.content }}
        </div>
    {% empty %}
        <p>No messages yet...</p>

        <hr>
    {% endfor %}

    

    <form method="post" action=".">
        {% csrf_token %}

        <div class="field">
            <div class="control">
                <textarea class="textarea" placeholder="Your Message" name="content" id="id_content"></textarea>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button class="button btn-success">Send</button>
            </div>
        </div>
    </form>

{% endblock %}